html {
  padding: 0px;
  margin: 0px;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

.ch1 {
  text-align: left;
  padding: 12;
  margin: 0;
  background-color: lavender;
}

h3 {
  padding: 0px;
  margin: 0px;
}

body,
body > div {
  padding: 0px;
  margin: 0px;
}
.mid {
  width: 500px;
  height: 300px;
  margin: auto;
}

button {
  background-color: lavender;
  border: 1px solid lavender;
  border-radius: 12px;
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 5px grey;
}

.lbt {
  float: left;
}

.rbt {
  float: right;
}

.tmid {
  text-align: center;
  margin-top: 200px;
}
