*{
    padding: 12px;
}

.pirosbox{
    background-color: red;
    display: flex;
    column-gap: 12px;
}
.alsobox{
    display: flex;
    column-gap: 12px;
    height: 40rem;
}

.kekbox{
    width: 10%;
    background-color: blue;
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.kekbox > .szurkebox{
    margin-left: 10%;
    width: 60%;
}

.zoldbox{
    background-color: green;
    width: 90%;
    height: 32rem;
    text-align: center;
}

.szurkebox{
    width: 7%;
    height: 20px;
    background-color: gray;
}

img{
    height: 60%;
    width: 30%;
    margin-top: 5rem;
}