
  .center-text {
    display: inline-flex;
    align-items: center; 
    margin: 0; 
  }

  p{
    margin: 0px;
  }
  

  .bluebox {
    border: 1px solid blue;
    border-radius: 6px;
    background-color: #e6f7ff;
    padding: 0px;
  }
  

  .orangebox {
    border: 1px solid orange;
    border-radius: 6px;
    background-color: #fff3e6;
    padding: 0px;
  }
  

  .topbluebar {
    display: flex;
    align-items: center;
    background-color: #b3e5fc;
    padding: 5px;
  }
  

  .bottombluebar {
    padding: 10px;
  }
  

  .toporangebar {
    display: flex;
    align-items: center;
    background-color: #ffcc80;
    padding: 5px;
  }

  .bottomorangebar {
    padding: 10px;
  }

  img{
    height: 60px;
    width: 60px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
  }